{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PeterChat</title>
    <script src="https://code.jquery.com/jquery-git.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="hero">
      <img src="{% static 'background.jpg' %}" id="hero" alt="Hero" width="100%" height="100%">
      <div class="hero-nav">
        <nav class="topnav navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand">PeterChat</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chat/room">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container heading">
        <aside id="reservation-card" class="card float-right" style="width: 24rem;">
          <div class="card-body">
            <h5 class="card-title">
              <input type="button" value="Login" id="login" class="toggle-menu selected">
              <input type="button" value="Sign Up" id="signup" class="toggle-menu">
            </h5>
            
            <hr>
            <div id="login-form">
              <form method="POST" name = "login">
                {% csrf_token %}
                <div class="labeler">Username</div>
                <input class="text-input" name = "username" id="username-login" type="text" placeholder="Username" required>
                <div class="labeler">Password</div>
                <input class="text-input" name = "password" id="password-login" type="password" placeholder="Password" required>
                <div class="row">
                </div>
              </form>
              <div class="row">
                <div class="col reserve">
                  <button id="login-button" type="button" class="float-right">
                      Login
                  </button>
                </div>
              </div>
            </div>
            <div id="signup-form">
              <form method="POST" name="signup">
                {% csrf_token %}
                <div class="labeler">First Name</div>
                <input class="text-input" name = "first_name" id="first-name" type="text" placeholder="First Name" value="{{ current_name }}" required>
                <div class="labeler">Last Name</div>
                <input class="text-input" name = "last_name" id="last-name" type="text" placeholder="Last Name" value="{{ current_name }}" required>
                <div class="labeler">Username</div>
                <input class="text-input" name = "username" id="username-signup" type="text" placeholder="Username" value="{{ current_name }}" required>
                <div class="labeler">Password</div>
                <input class="text-input" name = "password" id="password-signup" type="password" placeholder="Password" value="{{ current_name }}" required>
              </form>
              <div class="labeler">Confirm Password</div>
                <input class="text-input" name = "confirm_password" id="password-confirm" type="password" placeholder="Password" value="{{ current_name }}" required>
              <div class="row">
                <div class="col reserve">
                  <button id="signup-button" type="button" class="float-right">
                      Sign Up
                  </button>
                </div>
              </div>
            </div>
        </aside>
        <script>
          $("#signup-form").hide();
          $(function () {
            $('.toggle-menu').on('click', function() {
              $('.toggle-menu').removeClass('selected');
              $(this).addClass('selected');
              if($(this).is("#login")) {
                console.log("logim");
                $("#signup-form").hide();
                $("#login-form").show();
              } else {
                console.log("signup");
                $("#login-form").hide();
                $("#signup-form").show();
              }
            });
          });
          $(function() {
            $('#login-button').on('click', function(){
              const username = $("#username-login").val();
              //const password = $("#password-login").val();
              document.login.submit();
            });
            $('#signup-button').on('click', function(){
              const first_name = $("#first-name").val();
              const last_name = $("#last-name").val();
              const username = $("#username-signup").val();
              const password = $("#password-signup").val();
              const confirm_password = $("#password-confirm").val();
              const valid = first_name.length > 0 && last_name.length 
                                && username.length > 0 && password.length > 0;
              if(valid && password == confirm_password) {
                document.signup.submit();
              }
            });
          });
        </script>
        <main id="main" class="row">
          <div class="col m-2">
              <div class="row">
                  <div class = "col">
                      <div class="title">PeterChat</div>
                  </div>
              </div>
              <p id="description">Description</p>
          </div>
      </main>
      </div>
    </div>
  <body>
</html>
