{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PeterChat</title>
    <script src="https://code.jquery.com/jquery-git.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="hero">
      <img src="{% static 'background.jpg' %}" id="hero" alt="Hero" width="100%" height="100%">
      <div class="hero-nav">
        <nav class="topnav navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand">PeterChat</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chat/room">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container heading">
        <aside id="reservation-card" class="card float-right" style="width: 24rem;">
          <div class="card-body">
            <h5 class="card-title">
              <input type="button" value="Login" id="login" class="toggle-menu selected">
              <input type="button" value="Sign Up" id="signup" class="toggle-menu">
            </h5>
            
            <hr>
            <div id="login-form">
              <form>
                <div class="labeler">Username</div>
                <input class="text-input" type="text" placeholder="Username">
                <div class="labeler">Password</div>
                <input class="text-input" type="password" placeholder="Password">
                <div class="row">
                </div>
              </form>
              <div class="row">
                <div class="col reserve">
                  <button type="button" class="float-right">
                      Login
                  </button>
                </div>
              </div>
            </div>
            <div id="signup-form">
              <form>
                <div class="labeler">First Name</div>
                <input class="text-input" type="text" placeholder="First Name">
                <div class="labeler">Last Name</div>
                <input class="text-input" type="text" placeholder="Last Name">
                <div class="labeler">Username</div>
                <input class="text-input" type="text" placeholder="Username">
                <div class="labeler">Password</div>
                <input class="text-input" type="password" placeholder="Password">
                <div class="labeler">Confirm Password</div>
                <input class="text-input" type="password" placeholder="Password">
                <div class="row">
                </div>
              </form>
              <div class="row">
                <div class="col reserve">
                  <button type="button" class="float-right">
                      Login
                  </button>
                </div>
              </div>
            </div>
        </aside>
        <script>
          $("#signup-form").hide();
          $(function () {
              $('.toggle-menu').on('click', function(){
                  $('.toggle-menu').removeClass('selected');
                  $(this).addClass('selected');
                  if($(this).is("#login")) {
                    console.log("logim");
                    $("#signup-form").hide();
                    $("#login-form").show();
                  } else {
                    console.log("signup");
                    $("#login-form").hide();
                    $("#signup-form").show();
                  }
              })
          });
        </script>
        <main id="main" class="row">
          <div class="col m-2">
              <div class="row">
                  <div class = "col">
                      <div class="title">PeterChat</div>
                  </div>
              </div>
              <p id="description">Description</p>
          </div>
      </main>
      </div>
    </div>
  <body>
</html>
