{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-git.js"></script>
		<meta charset="utf-8" />
		<title>PeterChat</title>
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'chat_style.css' %}"/>
		<link href="server.js"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/3aa210e078.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<img id="back" src="{% static 'background.jpg' %}">
		<div id="chat-box">
			<div id="search-box">
				<input type="button" value="Find People or Chats" data-toggle="modal" data-target="#find" onclick="readySearch()">
			</div>
			<div id="chat-list">
				<!--<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message" id="recent-message">LOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONG</div>
					<div class="message-date">Dec 10</div>
				</div>
				<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
					<div class="message-date">Dec 10</div>
				</div>
				<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
					<div class="message-date">Dec 10</div>
				</div>
				<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
					<div class="message-date">Dec 10</div>
				</div>
				<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
					<div class="message-date">Dec 10</div>
				</div>
				<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
					<div class="message-date">Dec 10</div>
				</div>
				<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
					<div class="message-date">Dec 10</div>
				</div>
				<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
					<div class="message-date">Dec 10</div>
				</div>
				<div class="chat">
					<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
					<div class="chat-name">Katya Schwendeman</div>
					<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
					<div class="message-date">Dec 10</div>
				</div>--->
			</div>
			<div id="profile"></div>
			<div id="chat-title">
				<!--<div class="row w-100">
					<div class="col">Katya Schwendeman</div>
				</div>-->
			</div>
			<div id="conversation">
				<!--<div class="message-row sent-message">
					<div class="message-content">
						<div id="message-text" class="message-text">LOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONG</div>
						<div class="message-time">Dec 10</div>
					</div>
				</div>-->
				<!--<div class="message-row received-message">
					<div class="message-content">
						<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
						<div class="message-list">
							<div class="message-text">boo</div>
							<div class="message-text">boooooo</div>
							<div class="message-text">boo</div>
						</div>
					</div>
				</div>-->
				<!--<div class="message-row sent-message">
					<div class="message-content">
						<div class="message-text">LOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONG</div>
						<div class="message-time">Dec 10</div>
					</div>
				</div>
				<div class="message-row received-message">
					<div class="message-content">
						<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
						<div class="message-text">LOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONGLOOOOOOOOONG</div>
						<div class="message-time">Dec 10</div>
					</div>
				</div>
				<div class="message-row sent-message">
					<div class="message-content">
						<div class="message-text">LOOOO OOOO OOOO OOOO OOOOO OOOOO OOOO OOOOO OOOOO OOO OO OOO OOOOOO OO OO O OOOO OO OO O OOOOO OOOOO OOOOOO OOOOO OOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOO OOOO OOO OO O O OOOOOOOOO  OOOOO OOOOOO OOOOO ONG</div>
						<div class="message-time">Dec 10</div>
					</div>
				</div>
				<div class="message-row received-message">
					<div class="message-content">
						<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
						<div class="message-text">LOOOO OOOO OOOO OOOO OOOOO OOOOO OOOO OOOOO OOOOO OOO OO OOO OOOOOO OO OO O OOOO OO OO O OOOOO OOOOO OOOOOO OOOOO OOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOO OOOO OOO OO O O OOOOOOOOO  OOOOO OOOOOO OOOOO ONG</div>
						<div class="message-time">Dec 10</div>
					</div>
				</div>
				<div class="message-row sent-message">
					<div class="message-content">
						<div class="message-text">LOOOO OOOO OOOO OOOO OOOOO OOOOO OOOO OOOOO OOOOO OOO OO OOO OOOOOO OO OO O OOOO OO OO O OOOOO OOOOO OOOOOO OOOOO OOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOO OOOO OOO OO O O OOOOOOOOO  OOOOO OOOOOO OOOOO ONG</div>
					</div>
					<div class="message-content">
						<div class="message-text">LOOOO OOOO OOOO OOOO OOOOO OOOOO OOOO OOOOO OOOOO OOO OO OOO OOOOOO OO OO O OOOO OO OO O OOOOO OOOOO OOOOOO OOOOO OOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOO OOOO OOO OO O O OOOOOOOOO  OOOOO OOOOOO OOOOO ONG</div>
						<div class="message-time">Dec 10</div>
					</div>
				</div>
				<div class="message-row received-message">
					<div class="message-content">
						<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
						<div class="message-text">LOOOO OOOO OOOO OOOO OOOOO OOOOO OOOO OOOOO OOOOO OOO OO OOO OOOOOO OO OO O OOOO OO OO O OOOOO OOOOO OOOOOO OOOOO OOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOO OOOO OOO OO O O OOOOOOOOO  OOOOO OOOOOO OOOOO ONG</div>
						<div class="message-time">Dec 10</div>
					</div>
				</div>-->
			</div>
			<div id="message">
				<form id="send" action="">
					<input type="text" autocomplete="off" id="newmessage" placeholder="Send a message">
				</form>
				{{ room_name|json_script:"room-name" }}
				{{ username|json_script:"username" }}
				<script src="{% static 'socket.js' %}"></script>
				<script>
					const msgHtmlEnd = '</div>'
					const timeHtml = '<div class="message-time">';
					const timeHtmlEng = '</div>';
					const containerEnd = '</div></div></div>';
					let load = true;
					function loadMessage(message, username){
						if (message.sender != username) {
							msgHtml = '<div class="message-row received-message">\
								<div class="message-content">\
									<img src="th.jpg" alt="Katya Schwendeman" class="profile-pic">\
									<div class="message-list">\
									<div class="message-text">'
							var endOfContainer = '';
							endOfContainer = timeHtml + timeHtml + timeHtmlEng + containerEnd;
							$('#conversation').prepend(msgHtml + message.message + msgHtmlEnd + endOfContainer);
						}
						$('#recent-message').text(message.message);
					}
					function findPeople(message, username){
						document.getElementById('searches').textContent = '';
						const users = JSON.parse(message.users);
						for(var i = 0; i < users.length; ++i) {
							const usernameReceived = users[i].fields.username;
							const idReceived = users[i].fields.pk;
							const user = users[i];

							var userDiv = document.createElement("div");
							userDiv.className = "chat inherit";
							
							if(newChatMembers.indexOf(idReceived) != -1){
								userDiv.className += " selected";
							}

							var userImg = document.createElement("img");
							userImg.src = "{% static 'th.jpg' %}";
							userImg.alt = "Katya Schwendeman";
							userImg.className = "profile-pic";

							var usernameDiv = document.createElement("div");
							usernameDiv.className = "chat-name";
							usernameDiv.innerHTML = users[i].fields.username;

							var active = document.createElement("div");
							active.className = "recent-message";
							active.innerHTML = "Active Dec 10";

							userDiv.appendChild(userImg);
							userDiv.appendChild(usernameDiv);
							userDiv.appendChild(active);

							userDiv.onclick = function(){
								document.getElementById('searches').textContent = '';
								if(userDiv.className.indexOf("selected") != -1) {
									userDiv.className = "chat inherit";
									document.getElementById(idReceived + "button").remove();
									return;
								}
								userDiv.className += " selected";
								$('#searcher').val('');
								
								var addedUser = document.createElement("button");
								addedUser.className = "added-user btn";
								addedUser.id = idReceived + "button";

								var addedName = document.createElement("span");
								addedUser.innerHTML = usernameReceived;

								var close = document.createElement("i");
								close.className = "fa fa-times"
								close.onclick = function() {
									for (var i = 0; i < newChatMembers.length; ++i) {
										if(newChatMembers[i].fields.pk == idReceived) {
											newChatMembers.splice(i, i + 1);
										}
									};
									document.getElementById(idReceived + "button").remove();
									userDiv.className = "chat inherit";
								};

								addedUser.appendChild(addedName);
								addedName.appendChild(close);

								$("#search-for").prepend(addedUser);
								newChatMembers.push(user);
							};

							$('#searches').append(userDiv);
						}
					}
					function loadChats(message, username, roomName){	
						$('#conversation').html('');
						pk = message.pk;
						console.log("...receiving messages")
						for(var i = 0; i < message.messages.length; i++) {
							var msg = message.messages[i];
							var messageRow = document.createElement("div");

							var messageContent = document.createElement("div");
							messageContent.className = "message-content";

							var messageSender = document.createElement("img");
							messageSender.className = "profile-pic";
							messageSender.src = "{% static 'th.jpg' %}";
							
							var messageList = document.createElement("div");
							messageList.className = "message-list";
							
							var leadingMessage = document.createElement("div");
							leadingMessage.className = "message-text";
							leadingMessage.innerText = msg.fields.content;

							if(msg.fields.sender == pk) {
								messageRow.className = "message-row sent-message";
							} else {
								messageRow.className = "message-row received-message";
								messageContent.appendChild(messageSender);
							}
							try {
								messageList.appendChild(leadingMessage);
								var nextMsg = message.messages[i+1];
								console.log(nextMsg.fields);
								while(msg.fields.sender == nextMsg.fields.sender) {
									msg = message.messages[i+1];
									var nextMessage = document.createElement("div");
									nextMessage.className = "message-text";
									nextMessage.innerText = msg.fields.content;
									
									messageList.prepend(nextMessage);
									++i;
									nextMsg = message.messages[i+1];
								}
							}
							catch {
								console.log("No more messages!");
							}
							messageContent.appendChild(messageList);
							messageRow.appendChild(messageContent);
							document.getElementById('conversation').appendChild(messageRow);
							//!--------------------------
							/*if(msg.fields.sender == pk) {
								msgHtml = '<div class="message-row sent-message">\
									<div class="message-content">\
									<div class="message-text">'
							}
							else {
								msgHtml = '<div class="message-row received-message">\
									<div class="message-content">\
										<img src="{% static "th.jpg" %}" alt="Katya Schwendeman" class="profile-pic">\
										<div class="message-text">'
								var endOfContainer = '';
							}
							endOfContainer = timeHtml + timeHtml + timeHtmlEng + containerEnd;
							$('#conversation').append(msgHtml + msg.fields.content + msgHtmlEnd + endOfContainer);*/
						}
						$('#chat-list').html('');
						const chats = message.chats;
						for(var i = 0; i < chats.length; ++i) {
							console.log("HELLO");
							chat = chats[i];

							var userImg = document.createElement("img");
							userImg.src = "{% static 'th.jpg' %}";
							userImg.alt = "Katya Schwendeman";
							userImg.className = "profile-pic";

							var usernameDiv = document.createElement("div");
							usernameDiv.className = "chat-name";
							var chatName = '';
							const private = chat.fields.private == true;
							if (!private == false && chat.fields.chat_name != '') {
								chatName = chat.fields.chat_name;
							} else {
								for (var j = 0; j < chat.fields.participants.length; ++j) {
									if (chat.fields.participants[j].fields.username == username) {
										continue;
									}
									chatName += participant.fields.username;
									if(j != chat.fields.participants.length - 1) {
										chatName += + ", ";
									}
								}
							}
							usernameDiv.innerHTML = chatName;
							if(chat.pk == roomName) {
								$('#chat-title').text(chatName);
							}

							var lastMessage = document.createElement("div");
							lastMessage.className = "recent-message";
							lastMessage.innerHTML = "hi";

							var lastMessageDate = document.createElement("div");
							lastMessageDate.className = "message-date";
							lastMessageDate.innerHTML = "Active Dec 10";

							var chatDiv = document.createElement("div");
							chatDiv.className = "chat";
							chatDiv.appendChild(userImg);
							chatDiv.appendChild(usernameDiv);
							chatDiv.appendChild(lastMessage);
							chatDiv.appendChild(lastMessageDate);
							const chatID = chat.pk;
							chatDiv.onclick = function() {
								switchChat(chatID);
							};
							$("#chat-list").append(chatDiv);
							console.log("PEW");
						}
						
					}
					function loadChatMessages(message, username){
						
					}
					//$(function () {
					var roomName = JSON.parse(document.getElementById('room-name').textContent);
					const userName = JSON.parse(document.getElementById('username').textContent);
					var id = 0;
					let chatSocket = new ChatSocket(roomName, userName);
					function startChat(){
						chatSocket.socket.onopen = function(e){
							chatSocket.socket.send(JSON.stringify({
								'send_type': 'authenticate',
								'username': chatSocket.username,
							}));
						}
						console.log('starting...');
					}
					startChat();
					function switchChat(id) {
						const newUrl = '/chat/'
						+ id
						+ '/';
						window.history.pushState("","", newUrl);
						//chatSocket.close()
						chatSocket.socket.close();
						chatSocket = new ChatSocket(id, userName);
						chatSocket.socket.onopen = function(e){
							console.log('OPENED');
							chatSocket.socket.send(JSON.stringify({
								'send_type': 'authenticate',
								'username': chatSocket.username,
							}));
						}
						$('#conversation').html('');
						console.log('switching...');
					}
					$("#conversation").scroll(function(){
						
						var position = $("#conversation").scrollTop();
						//console.log("position" + position);
						var middle = $("#conversation").height()/2;
						//console.log("middle" + middle);
						//console.log("position: " + pos);
						if( position <= -middle){
							console.log("fetch more messages");
						}

					});
					/*chatSocket.socket.onopen = function(e){
						chatSocket.socket.send(JSON.stringify({
							'send_type': 'authenticate',
							'username': chatSocket.username,
						}));
					}*/
					/*var chatSocket = new WebSocket(
						'ws://'
						+ window.location.host
						+ '/ws/chat/'
						+ roomName
						+ '/'
					);*/
					/*var newChatMembers = [];
					var msgHtml = '';
					var msgHtmlEnd = '</div>'
					var timeHtml = '<div class="message-time">'
					var timeHtmlEng = '</div>'
					var containerEnd = '</div>\
						</div>'
					let load = true;*/
					//const chatSocket = new WebSocket('ws://' + window.localation.host '/chat/');

					$('#send').submit(function(){
						const msg = $('#newmessage').val();
						console.log(msg);
						/*chatSocket.send(JSON.stringify({
							'send_type': 'chat_message',
							'message': msg,
						}));*/
						chatSocket.sendMessage(msg);
						msgHtml = '<div class="message-row sent-message">\
									<div class="message-content">\
										<div class="message-list"><div class="message-text">'
						var endOfContainer = '';
						endOfContainer = timeHtml + timeHtml + timeHtmlEng + containerEnd;
						$('#conversation').prepend(msgHtml + msg + msgHtmlEnd + endOfContainer);
						
						$('#newmessage').val('');
						return false;
					});
					/*chatSocket.onmessage = function(msg){
						const message = JSON.parse(msg.data);
						console.log(message.send_type)
						if (message.send_type == 'chat') {
							//const _id = JSON.parse(id.data);
							/*if(message.sender == username) {
								msgHtml = '<div class="message-row sent-message">\
									<div class="message-content">\
									<div class="message-text">'
							}*/
							/*if (message.sender != username) {
								msgHtml = '<div class="message-row received-message">\
									<div class="message-content">\
										<img src="th.jpg" alt="Katya Schwendeman" class="profile-pic">\
										<div class="message-text">'
								var endOfContainer = '';
								//var today = new Date();
								//var time = today.getHours() + ":" + today.getMinutes();
								endOfContainer = timeHtml + timeHtml + timeHtmlEng + containerEnd;
								$('#conversation').prepend(msgHtml + message.message + msgHtmlEnd + endOfContainer);
							}
							/*msgHtml = '<div class="message-row sent-message">\
								<div class="message-content">\
								<div class="message-text">'*/
							/*if(message.indexOf("/shrug") != -1) {
								message = "¯\\_(ツ)_/¯";
							} else if (message.indexOf("/facepalm") != -1){
								message = "(—‸ლ)";
							}*/
							/*$('#recent-message').text(message.message);
						}
						else if (message.send_type == 'search') {
							console.log("hi");
							document.getElementById('searches').textContent = '';
							const users = JSON.parse(message.users);
							for(var i = 0; i < users.length; ++i) {
								console.log(users[i].fields.username);
								const usernameReceived = users[i].fields.username;
								const idReceived = users[i].fields.pk;
								const user = users[i];
								var userDiv = document.createElement("div");
								userDiv.className = "chat inherit";
								if(newChatMembers.indexOf(idReceived) != -1){
									userDiv.className += " selected";
								}
								var userImg = document.createElement("img");
								userImg.src = "{% static 'th.jpg' %}";
								userImg.alt = "Katya Schwendeman";
								userImg.className = "profile-pic";

								var usernameDiv = document.createElement("div");
								usernameDiv.className = "chat-name";
								usernameDiv.innerHTML = users[i].fields.username;

								var active = document.createElement("div");
								active.className = "recent-message";
								active.innerHTML = "Active Dec 10";

								userDiv.appendChild(userImg);
								userDiv.appendChild(usernameDiv);
								userDiv.appendChild(active);

								userDiv.onclick = function(){
									if(userDiv.className.indexOf("selected") != -1) {
										userDiv.className = "chat inherit";
										document.getElementById(idReceived + "button").remove();
										return;
									}
									userDiv.className += " selected";
									$('#searcher').val('');
									
									var addedUser = document.createElement("button");
									addedUser.className = "added-user btn";
									addedUser.id = idReceived + "button";

									var addedName = document.createElement("span");
									addedUser.innerHTML = usernameReceived;

									var close = document.createElement("i");
									close.className = "fa fa-times"
									close.onclick = function() {
										for (var i = 0; i < newChatMembers.length; ++i) {
											if(newChatMembers[i].fields.pk == idReceived) {
												newChatMembers.splice(i, i + 1);
											}
										};
										document.getElementById(idReceived + "button").remove();
										userDiv.className = "chat inherit";
									};

									addedUser.appendChild(addedName);
									addedName.appendChild(close);

									$("#search-for").prepend(addedUser);
									newChatMembers.push(user);
								};

								const userHtml = '<div class="chat"> \
									<img src="';
								const source = "{% static 'th.jpg' %}";
								const midHtml = '" alt="Katya Schwendeman" class="profile-pic"> \
									<div class="chat-name">';
								const userHtmlEnd	= '</div> \
									<div class="recent-message">Active Dec 10</div> \
									</div>';

								//$('#searches').append(userHtml + source + midHtml + users[i].fields.username + userHtmlEnd);
								$('#searches').append(userDiv);
							}
						}
						else if (message.send_type == 'switch') {
							switchChat(JSON.parse(message.chat))
						}
						else if (message.send_type == 'load') {
							console.log("HIIIII!!!!");
							const chats = message.chats;
							console.log(chats.length);
							if(load){
								for(var i = 0; i < chats.length; ++i) {
									console.log("HELLO");
									chat = chats[i];
									/*<div class="chat">
										<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
										<div class="chat-name">Katya Schwendeman</div>
										<div class="recent-message">MESSAGEMESSAGEMESSAGEMESSAGE</div>
										<div class="message-date">Dec 10</div>
									</div>*/

									/*var userImg = document.createElement("img");
									userImg.src = "{% static 'th.jpg' %}";
									userImg.alt = "Katya Schwendeman";
									userImg.className = "profile-pic";

									var usernameDiv = document.createElement("div");
									usernameDiv.className = "chat-name";
									var chatName = '';
									const private = chat.fields.private == true;
									if (!private == false && chat.fields.chat_name != '') {
										chatName = chat.fields.chat_name;
									} else {
										for (var j = 0; j < chat.fields.participants.length; ++j) {
											if (chat.fields.participants[j].fields.username == username) {
												continue;
											}
											chatName += participant.fields.username;
											if(j != chat.fields.participants.length - 1) {
												chatName += + ", ";
											}
										}
									}
									usernameDiv.innerHTML = chatName;

									var lastMessage = document.createElement("div");
									lastMessage.className = "recent-message";
									lastMessage.innerHTML = "hi";

									var lastMessageDate = document.createElement("div");
									lastMessageDate.className = "message-date";
									lastMessageDate.innerHTML = "Active Dec 10";

									var chatDiv = document.createElement("div");
									chatDiv.className = "chat";
									chatDiv.appendChild(userImg);
									chatDiv.appendChild(usernameDiv);
									chatDiv.appendChild(lastMessage);
									chatDiv.appendChild(lastMessageDate);

									chatDiv.onclick = function() {
										switchChat(chat.pk);
									};
									$("#chat-list").append(chatDiv);
									console.log("PEW");
								}
							}
							load = false;
						}
						else if(message.send_type == 'load_messages') {
							id = message.pk;
							console.log("...receiving messages")
							for(msg of message.messages) {
								if(msg.fields.sender == id) {
									msgHtml = '<div class="message-row sent-message">\
										<div class="message-content">\
										<div class="message-text">'
								}
								else {
									msgHtml = '<div class="message-row received-message">\
										<div class="message-content">\
											<img src="{% static "th.jpg" %}" alt="Katya Schwendeman" class="profile-pic">\
											<div class="message-text">'
									var endOfContainer = '';
									//var today = new Date();
									//var time = today.getHours() + ":" + today.getMinutes();
								}
								endOfContainer = timeHtml + timeHtml + timeHtmlEng + containerEnd;
								$('#conversation').prepend(msgHtml + msg.fields.content + msgHtmlEnd + endOfContainer);
							}
						}
						//console.log(message.length)
						/**/
					/*};
					chatSocket.onclose = function(e) {
						console.log('Chat socket closed unexpectedly');
					};
					chatSocket.onopen = function(e) {
						chatSocket.send(JSON.stringify({
							'send_type': 'authenticate',
							'username': username,
						}));
					};*/

				
				//});
				</script>
			</div>
		</div>
		<div class="modal fade" id="find" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div id="search-grid">
						<div id="search-for">
							<input type="text" id="searcher" placeholder="Find People to Chat!">
						</div>
					</div>
					<script>
						function readySearch(){
							$("#search-for").val('');
							document.getElementById('searches').textContent = '';
							newChatMembers = [];
							$('.added-user').remove();
							
						}
						var searchTimeout;
						document.getElementById('searcher').onkeypress = function () {
							if (searchTimeout != undefined) clearTimeout(searchTimeout);
							searchTimeout = setTimeout(callServerScript, 250);
						};
						document.getElementById('searcher').addEventListener('keydown', function (event) {
							if (event.keyCode == 8 || event.keyCode == 46) {
								if (searchTimeout != undefined) clearTimeout(searchTimeout);
								searchTimeout = setTimeout(callServerScript, 250)
							}
						});
						function callServerScript() {
							var searched = $("#searcher").val();
							if(searched == '') {
								document.getElementById('searches').textContent = '';
								return;
							}
							chatSocket.socket.send(JSON.stringify({
								'send_type': 'search',
								'username_searched': searched
							}));
							/*chatSocket.onmessage = function(users){
								const user_list = JSON.parse(users.data)
								console.log(user_list.length)
								document.getElementById('searches').textContent = '';
								for(var i = 0; i < user_list.length; ++i) {
									console.log(user_list[i].fields.username)
									const userHtml = '<div class="chat"> \
										<img src="';
									const source = "{% static 'th.jpg' %}";
									const midHtml = '" alt="Katya Schwendeman" class="profile-pic"> \
										<div class="chat-name">';
									const userHtmlEnd	= '</div> \
										<div class="recent-message">Active Dec 10</div> \
										</div>';
									$('#searches').append(userHtml + source + midHtml + user_list[i].fields.username + userHtmlEnd);
								}
							};*/
						}
						function findChat() {
							chatSocket.findChat(newChatMembers);
							newChatMembers.length = 0;
						}
					</script>
					<!--<button type="button" id="group-chat">Create a Group Chat</button>-->
					<div class="modal-body" id="searches">
						<!--<div class="chat">
							<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
							<div class="chat-name">Katya Schwendeman</div>
							<div class="recent-message">Active Dec 10</div>
						</div>
						<div class="chat">
							<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
							<div class="chat-name">Katya Schwendeman</div>
							<div class="recent-message">Active Dec 10</div>
						</div>
						<div class="chat">
							<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
							<div class="chat-name">Katya Schwendeman</div>
							<div class="recent-message">Active Dec 10</div>
						</div>
						<div class="chat">
							<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
							<div class="chat-name">Katya Schwendeman</div>
							<div class="recent-message">Active Dec 10</div>
						</div>
						<div class="chat">
							<img src="{% static 'th.jpg' %}" alt="Katya Schwendeman" class="profile-pic">
							<div class="chat-name">Katya Schwendeman</div>
							<div class="recent-message">Active Dec 10</div>
						</div>-->
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="findChat()" data-dismiss="modal">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
